# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/vcs.xml
/inspectionProfiles/Project_Default.xml
/inspectionProfiles/profiles_settings.xml
/modules.xml
/ChatGPT-fine-tuning.iml
